---
title: 404
layout: doc
---

<h1 class="four-oh-four-header">
  4<img src="/assets/img/logo.svg" alt="ESLint Logo">4
</h1>
<h2>页面找不到了!</h2>
<h3>
  <a href="/">回到首页</a> 或者 <a href="/docs/rules">检查 rules</a>?
</h3>
<a href="/docs/user-guide/getting-started" class="btn btn-default btn-lg btn-block btn-getting-started" role="button">
   开始使用ESLint »
</a>
