---
---

@mixin mixed-default {
    opacity: 0.36;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}
.glyphicon-ok:before {
    color: #37ab00;
}
.glyphicon-wrench:before {
    color: #f29900;
}
.navbar-left {
    display: none;
}
.lang-chooser {
    font-size: 14px;
}
.lang-mixed {
    // h1, h2, h3 {
    h1 {
        &:nth-of-type(2n+1) {
            @include mixed-default;
        }
    }

    p:nth-of-type(2n+1),
    li:nth-of-type(2n+1),
    li:nth-of-type(2n+1) p:only-of-type {
        @include mixed-default;
    }

    h1:nth-of-type(2n+1):only-of-type,
    h1:nth-of-type(2n+1):hover,
    // h2:nth-of-type(2n+1):only-of-type,
    // h2:nth-of-type(2n+1):hover,
    // h3:nth-of-type(2n+1):only-of-type,
    // h3:nth-of-type(2n+1):hover,
    p:nth-of-type(2n+1):hover,
    p:only-of-type,
    li:nth-of-type(2n+1):hover {
        opacity: 1;
    }
    li:nth-of-type(2n+1):hover {
        p:only-of-type {
            opacity: 1;
        }
    }

    #further-reading + ul,
    #compatibility + ul,
    #related-rules + ul,
    #resources + ul {
        li {
            opacity: 1;
        }
    }
}
.lang-zh {
    // h1, h2, h3 {
    h1 {
        &:nth-of-type(2n+1):not(:only-of-type) {
            display: none;
        }
    }
    p:nth-of-type(2n+1):not(:only-of-type),
    li:nth-of-type(2n+1) {
        display: none;
    } 
    #further-reading + ul,
    #compatibility + ul,
    #related-rules + ul,
    #resources + ul {
        li {
            display: list-item;
        }
    }
}

.lang-en {
    // h1, h2, h3 {
    h1 {
        &:nth-of-type(2n) {
            display: none;
        }

        &:nth-of-type(2n+1) {
            color: #333;
        }
    }
    
    p:nth-of-type(2n+1),
    li:nth-of-type(2n+1),
    li:nth-of-type(2n+1) p:only-of-type {
        color: #333;
    }

    p:nth-of-type(2n),
    li:nth-of-type(2n) {
        display: none;
    }

    #further-reading + ul,
    #compatibility + ul,
    #related-rules + ul,
    #resources + ul {
        li {
            display: list-item;
        }
    }
}
